/* Variables globales */
:root {
  font-size: 1rem;
  font-family: 'League Spartan';
  --text-primary: #b6b6b6;
  --text-secondary: #cfe600;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 0.6s;
}

/* Estilos generales del cuerpo */
body {
  background-image: url("Imagenes/Fondo-Kamehouse.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

/* Estilos de la barra de desplazamiento para WebKit */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #b8b149;
}

/* Estilos principales */
main {
  margin-left: 5rem;
  padding: 1rem;
}

/* Estilos de la barra de navegación */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  z-index: 2;
  height: 100%;
  width: 5rem; /* Ancho fijo */
}

/* Estilos de la lista de navegación */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Estilos de los elementos de navegación */
.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

/* Estilos de los enlaces de navegación */
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7); 
  transition: background var(--transition-speed), color var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

/* Estilos del texto del enlace */
.link-text {
  display: none;
  margin-left: 1rem;
}

/* Estilos de los iconos del enlace */
.nav-link svg {
  max-width: 2rem;
  margin: 0 1.5rem;
}

/* Estilos del logotipo */
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Estilos del icono del logotipo */
.logo svg {
  fill: rgb(209, 206, 15);
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

/* Estilos del texto del logotipo */
.logo-text {
  display: inline;
  position: absolute;
  left: -999rem;
  transition: var(--transition-speed);
}

/* Estilos adicionales del icono del enlace */
.nav-link svg {
  fill: rgb(143, 143, 143);
}

/* Estilos adicionales del icono del logotipo */
.logo svg {
  fill: rgb(209, 206, 15);
}
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  
  video::cue {
    opacity: 0;
  }
  
  .caption_text {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 90%;
    max-width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    transition: bottom 0.3s;
  }
  
  .caption_text.active {
    bottom: 0%;
  }
  
  .caption_text mark {
    background-color: #0000008f !important;
    color: #fff;
  }
  
  
  .material-icons {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
  }
  
  body {
    background-color: #002333;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
    z-index: 2;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    z-index: 1;
  }
  
  /* Video player Styling */

  .container .video_player {
    position: relative;
    width: 100%;
    height: 40rem;
    background: #000;
    overflow: hidden;
  }

  .container .video_player .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    border: 4px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    z-index: 1;
    animation: animate 0.6s linear infinite;
    display: none;
  }
  @keyframes animate{
    0%{
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
  .container .video_player .thumbnail{
    position: absolute;
    bottom: 80px;
    left: calc(var(--x) + 11px);
    transform: translateX(-50%);
    width: 165px;
    height: 90px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    display: none;
  }
  .container .video_player .main-video {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
  }
  
  .video_player .progressAreaTime {
    position: absolute;
    left: calc(var(--x) + 11px);
    transform: translateX(-50%);
    bottom: 50px;
    min-width: 60px;
    text-align: center;
    white-space: nowrap;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    z-index: 1;
    display: none;
  }
  
  .container .video_player .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(0 0 0 / 29%);
    box-shadow: 0 0 40px 10px rgb(0 0 0 / 25%);
    z-index: 3;
    transform: translateY(180%);
    transition: 0.3s;
    padding: 0px 10px;
  }
  
  .container .video_player .controls.active {
    transform: translateY(0);
  }
  
  .video_player .controls .progress-area {
    width: 100%;
    height: 5px;
    margin: auto;
    background: #f0f0f063;
    cursor: pointer;
    position: relative;
  }
  
  .controls .progress-area .progress-bar {
    position: relative;
    width: 0%;
    background: rgb(255, 174, 0);
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
  }
  
  .controls .progress-area .progress-bar::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 174, 0);
  }
  
  .controls .progress-area .bufferedBar{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: inherit;
  }
  
  .controls .controls-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 97%;
    height: 46px;
    margin: 0 auto;
  }
  
  .controls .controls-list .controls-left,
  .controls .controls-list .controls-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls .controls-left .timer {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
    margin-left: 5px;
    text-align: center;
  }
  
  .controls .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 8px;
    margin-right: 5px;
  }
  
  .controls .icon .material-icons {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
  }
  
  .controls .icon .material-icons.fast-rewind:active {
    transition: 0.2s;
    transform: rotate(-45deg);
  }
  
  .controls .icon .material-icons.fast-forward:active {
    transition: 0.2s;
    transform: rotate(45deg);
  }
  
  .controls .icon .volume_range {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 3px;
    background: #fff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s;
  }
  
  .controls .icon .volume_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fff;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
  }
  
  .controls .icon:hover .volume_range {
    display: inline-block;
    width: 60px;
  }
  
  .controls .icon:hover .volume_range::-webkit-slider-thumb {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
  }
  
  .controls-right .icon .auto-play {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    position: relative;
    margin-right: 8px !important;
    background: #b6b6b6;
  }
  
  .controls-right .icon .auto-play::before {
    content: "\e034";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 14px;
    background: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-family: "Material Icons";
  }
  
  .controls-right .icon .auto-play.active::before {
    content: "\e037";
    left: 15px;
    font-family: "Material Icons";
  }
  
  .controls-right .icon .material-icons.settingsBtn {
    font-size: 24px;
    transition: 0.3s;
  }
  
  .controls-right .icon .settingsBtn.active {
    transform: rotate(45deg);
  }
   
  .video_player .captions,
  .video_player .settings {
    position: absolute;
    right: 25px;
    bottom: 62px;
    background: rgb(28 28 28 / 90%);
    width: 200px;
    max-height: 250px;
    height: auto;
    color: #fff;
    overflow-y: auto;
    z-index: 20;
    display: none;
    border-radius: 5px;
  }
   
  .video_player .captions.active,
  .video_player .settings.active {
    display: block;
  }
   
  .video_player .captions .caption span,
  .video_player .settings > div > span {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
  .video_player .settings > div .icon{
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
  }
  .video_player .settings > div ul li span{
   pointer-events: none;
  }
  
  .video_player .captions .caption ul,
  .video_player .settings > div ul {
    position: relative;
  }
  
  .video_player .captions .caption ul li,
  .video_player .settings > div ul li {
    position: relative;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 12px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
   .video_player .captions .caption ul li:hover,
   .video_player .settings > div ul li:hover {
    background: rgba(28, 28, 28, 0.9);
  }
  
  .video_player .captions .caption ul li.active::before,
  .video_player .settings > div ul li.active::before {
    content: "\e876";
    font-family: "Material Icons";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
  }
  
  .video_player .captions::-webkit-scrollbar,
  .video_player .settings::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  
  .video_player .captions::-webkit-scrollbar-thumb,
  .video_player .settings::-webkit-scrollbar-thumb {
    height: 20px;
    border: 2px solid transparent;
    background: rgba(83, 83, 83, 0.9);
    border-radius: 20px;
  }
  
  footer {
    padding: 15px 23px;
    background: #1b1b1a;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  
  footer a {
    color: crimson;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .button-82-pushable {
    display: none;
    position: absolute; 
    bottom: 100px; 
    right: 10px; 
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }


  /* Botones */
  .botones-acciones {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .boton-accion {
    padding: 18px 28px;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #373837;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .boton-accion:hover {
    background-color: #8b8b8b;
  }
  
  .boton-accion:active {
    background-color: #d2e61e;
  }

  .boton-accion i.material-icons {
    margin-right: 0.5rem; 
    vertical-align: middle; 
  }

  /* Informacion capitulo */

  .Info-Capitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  
  .Titulo-Capitulo {
    font-size: 3rem;
    text-align: center;
  }
  
  .Descripcion-y-Card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
  }
  
  .Descripcion-Capitulo {
    color: #b1afaf;
    font-size: 1.8rem;
    line-height: 2rem;
    width: 100%; 
    max-height: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .card-image {
    max-width: 30rem;
  }
  
  .card-image img {
    max-width: 100%; 
  }
  

  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }

  
  /* Para dispositivos móviles o pantallas pequeñas */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    .nav-link svg {
        fill: rgb(231, 212, 35);
      }

      .container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    
      .controls .icon {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 24px;
      }
    
      .container .video_player .controls .volume,
      .container .video_player .controls .volume_range,
      .container .video_player .controls .auto-play,
      .container .video_player .controls .fast-rewind,
      .container .video_player .controls .picture_in_picutre {
        display: none !important; 
      }

      .container .video_player {
        height: 25rem;
      }

      .botones-acciones {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }

      .boton-accion {
        margin: 0.1rem;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .card-image {
        display: none;
      }

      .Descripcion-Capitulo {
        font-size: 1.5rem; 
        line-height: 1.8rem; 
      }

  }
  
  /* Pantallas más largas */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 12rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  
  
  
      
      